/* COPIEI DA INERNET */
/* best seen at 1500px or less */

html, body { height: 100%; }
body {
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  overflow: hidden;
}

.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

/* EU QUE FIZ */
h2{
    color: #015871 !important;
    font-family: serif !important;
    font-weight: bold;
}

p{
  color: #015871;
}

a{
  text-decoration: none;
}

span{
  color: rgba(255, 0, 0, 0.686);
}

table{
  border: 2px solid white;
  border-collapse: collapse;
  margin: 5vh 3vw 3vh 3vw;
  text-align: justify;
}

tr{
  border: solid white 2px;
  border-collapse: collapse;
}

th{
  font-family: serif;
  color: #015871;
  font-size: 24px;
  padding: 10px;
}

td{
  padding: 10px;
}

#div-form{
  width: 50%;
  height: 50%;
  position: absolute;
  left: calc(50vw - 25%);
  top: calc(50vh - 25%);
}

#form{
  text-align: center;
  background-color: #b7e9eb76;
  padding: 20px;
  border-radius: 30px;
}

#modal-editar{
  background-color: #b7e9eb76 !important;
}

#div-recados{
  width: 90vw;
  height: 90vh;
  position: absolute;
  left: calc(50vw - 45vw);
  top: calc(50vh - 45vh);
  text-align: center;
  background-color: #b7e9eb76;
  border-radius: 30px;
}

.retangulo-form{
  background-color: #fffeea;
  border: none;
  border-radius: 30px;
  width: 60%;
  padding-top: 2vh;
  padding-bottom:  2vh;
  outline-color: #015871;
}

#retangulo-form-titulo{
  background-color: #fffeea;
  border: none;
  border-radius: 30px;
  width: 25%;
  padding-top: 2vh;
  padding-bottom:  2vh;
  margin-right: 2vw;
  outline-color: #015871;
}

#retangulo-form-descricao{
  background-color: #fffeea;
  border: none;
  border-radius: 30px;
  width: 60%;
  padding-top: 2vh;
  padding-bottom:  2vh;
  margin-right: 2vw;
  outline-color: #015871;
}

#retangulo-editar-titulo{
  background-color: #b7e9eb76;
  border: none;
  border-radius: 30px;
  width: 93.5%;
  padding-top: 2vh;
  padding-bottom:  2vh;
  margin: 2vw;
  outline-color: #015871;
}

#retangulo-editar-descricao{
  background-color: #b7e9eb76;
  border: none;
  border-radius: 30px;
  width: 93.5%;
  padding-top: 2vh;
  padding-bottom:  2vh;
  margin: 2vw;
  outline-color: #015871;
}

#button-padrao{
  background-color: #fffeea;
  color: #015871;
  border: none;
  border-radius: 30px;
  padding: 1vw 2vh;
  font-size: 16px;
  font-family: serif;
  font-weight: bold;
}

#button-padrao:hover{
  background-color: #015871;
  color: #fffeea;
  border: none;
  border-radius: 30px;
  padding: 1vw 2vh;
  font-size: 16px;
  font-family: serif;
  font-weight: bold;
}

#button-sair{
  background-color: #fffeea;
  color: #015871;
  border: none;
  border-radius: 30px;
  padding: 1vw 2vh;
  font-size: 16px;
  font-family: serif;
  font-weight: bold;
  position: absolute;
  right: 2%;
  bottom: 2%;
}

#button-sair:hover{
  background-color: #015871;
  color: #fffeea;
  border: none;
  border-radius: 30px;
  padding: 1vw 2vh;
  font-size: 16px;
  font-family: serif;
  font-weight: bold;
}


#button-criar-conta{
  color: #015871;
  background-color: #b7e9eb00;
  border: none;
  font-size: 17px;
  font-family: serif;
  font-weight: bold;
}

#button-apagar{
  background-color: red;
  color: #fffeea;
  border: none;
  border-radius: 30px;
  margin: 2px 0px 2px 2px;
  padding: 8px !important;
}

#button-editar{
  background-color: green;
  color: #fffeea;
  border: none;
  border-radius: 30px;
  margin: 2px 0px 2px 2px;
  padding: 8px !important;
}

#coluna-indice{
  width: 10vw;
}

#coluna-titulo{
  width: 25vw;
}

#coluna-descricao{
  width: 35vw;
}

#coluna-acao{
  width: 10vw;
}